@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
--branco-esverdeado: #f1faeeff;
--verde-agua: #a8dadcff;
--azul-escuro: #457b9dff;
--azul-meia-noite: #1d3557ff;
  --title: "SUSE Mono", sans-serif;
  --text: "Lato", sans-serif;
}
body {
    background-color: var(--branco-esverdeado);
    font-family: var(--text);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
