body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  padding-top: 50px;
}

.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  text-align: center;
}

/* Estilização básica e do corpo */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #2b0526;
  color: #333;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #940280;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Estilização do tabuleiro (usando Grid) */
.board {
  display: grid;
  /* 3 colunas de tamanho igual (100px) */
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 50px auto;
  border: 3px solid #000000;
}

/* Estilização de cada célula */
.cell {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cell:hover {
  background-color: #ddd;
}

/* Estilos para o texto X e O */
.cell.x {
  color: #2f00ff; /* Vermelho */
}

.cell.o {
  color: #ff0015; /* Azul */
}

/* Estilização para o status e botão */
#status {
  margin-bottom: 15px;
  font-size: 2.2em;
  font-weight: bold;
}

#restart-button {
  padding: 1px 2px;
  font-size: 10em;
  cursor: pointer;
  background-color: #2ecc71; /* Verde */
  color: rgb(219, 31, 31);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#restart-button:hover {
  background-color: #00ff6a;
}