@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
--rosinha: #caa8f5ff;
--azul-claro: #9984d4ff;
--roxo: #592e83ff;
--roxo-escuro: #230c33ff;
  --title: "SUSE Mono", sans-serif;
  --text: "Lato", sans-serif;
}
body {
    background-color: var(--rosinha);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.inicio {
  font-family: var(--title);
  font-size: 37px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.meio {
  font-family: var(--title);
  font-size: 37px;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  text-align: center;
}
.fim {
  font-family: var(--title);
  font-size: 37px;
  padding: 0px;
  justify-content: center;
  text-align: center;
}
p {
  font-family: var(--text);
  font-size: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}